
@font-face {
    font-family: "ZenBlack";
    src: local("Avenir Book"), local("sans-serif"),
      url("assets/fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Black.ttf") format("ttf");
    font-display: swap;
    font-weight: normal;
  }


  @font-face {
    font-family: "ZenRegular";
    src: local("Avenir Book"), local("sans-serif"),
      url("assets/fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Regular.ttf") format("ttf");
    font-display: swap;
    font-weight: normal;
  }

  @font-face {
    font-family: "ZenBold";
    src: local("Avenir Book"), local("sans-serif"),
      url("assets/fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Bold.ttf") format("ttf");
    font-display: swap;
    font-weight: normal;
  }


  @font-face {
    font-family: "PoppingRegular";
    src: local("Avenir Book"), local("sans-serif"),
      url("assets/fonts/Poppins/Poppins-Regular.ttf") format("ttf");
    font-display: swap;
    font-weight: normal;
  }

  @font-face {
    font-family: "PoppingBold";
    src: local("Avenir Book"), local("sans-serif"),
      url("assets/fonts/Poppins/Poppins-Bold.ttf") format("ttf");
    font-display: swap;
    font-weight: normal;
  }

  @font-face {
    font-family: "PoppingExtraBold";
    src: local("Avenir Book"), local("sans-serif"),
      url("assets/fonts/Poppins/Poppins-ExtraBold.ttf") format("ttf");
    font-display: swap;
    font-weight: normal;
  }

  @font-face {
    font-family: "PoppingLight";
    src: local("Avenir Book"), local("sans-serif"),
      url("assets/fonts/Poppins/Poppins-Light.ttf") format("ttf");
    font-display: swap;
    font-weight: normal;
  }